* {
    margin: 0;
    padding: 0;
	font-family: Roboto;
}

.main {
    padding: 0 10px 0 10px;
    max-width: 1200px;
    min-width: 500px;
    margin: 10px auto 0 auto;
	text-align: center;
}

.header {
    height: 50px;
    min-width: 500px;
	padding: 5px 10px;
}

.headerText > a {
    text-decoration: none;
}

.logoImg {
    margin: 5px 5px;
    height: 40px;
}

.headerText {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.headerText:hover {
    cursor: pointer;
}

input, textarea {
    width: 250px;
    padding: 3px;
    box-sizing: border-box;
    height: 31px;
    line-height: 31px;
}

.bigText {
    font-size: 2.5em;
    text-align: center;
}

#actionButtons {
    padding: 5px;    
}

input[type=button] {
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
}

hr {
	margin: 15px 0;
}

#championList {
	width: 250px; 
    text-align: left;
	float: left;
}

#winPct {
	float: right;
	width: 226px;
	text-align: center;
	display: inline-block;
	font-size: 13px;
}

#winPctP {
	font-size: 60px;
}

#champListAndWinPct {
	display: inline-block;
	margin-bottom: 20px;
}

#championList img {
	height: 31px;
}

.champion_input {
	margin-bottom: 5px;
    width: 220px;
    font-size: 20px;
    text-align: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

#champs {
	display: inline-block;
}

.champ:hover {
	cursor: pointer;
}

.champ {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin: 5px;
	font-size: 10px;
}

.champ img {
	height: 50px;
	width: 50px;
	display: block;
	margin: 0 auto;
}

.section {
	width: 500px;
	text-align: center;
	padding: 20px;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}

.section_title {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 15px;
}

#positionsDiv > img:hover {
    cursor: pointer;
}

#positionsDiv > img {
    padding: 10px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.nodisp {
    display: none !important;
}

#result {
	text-align: center;
}

.section_subtitle {
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}

.xBtn[type=button] {
    width: 30px;
    float: right;
    text-align: center;
    height: 31px;
    line-height: 16px;
}

.champPlaceholder {
    height: 28px;
    width: 28px;
	padding: 3px;
}

input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
}

input[type="button" i] {
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	border-color: buttonface;
	border-image: initial;
    border-radius: 2px;
}

input[type="button" i]:hover {
    cursor: pointer;
}

input {
	-webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 0px;
}
