.autocomplete {
    max-height: 250px;
    overflow: auto;
    margin-top: 0px;
    position: absolute;
    width: 220px;
}

.slimFromPic {
	width: 189px;
}

.autocomplete li {
	height: 31px;
	line-height: 31px;
    list-style: none;
}

.autocomplete:hover {
    cursor: pointer;
}

.autocomplete ul > img {
    height: 31px;
}
